/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

body {
    color: rgba(var(--ion-text-color-rgb), 0.25);
}

html, body {
    margin: 0;
    padding: 0;
}

button {
    user-select: none;
}

html {
    font-size: 16px;
    font-variant: none;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    //font-feature-settings: 'ss01' on, 'ss02' on, 'cv01' on, 'cv03' on;
    font-feature-settings: "smcp";
    font-feature-settings: "smcp" on;
    font-feature-settings: "swsh" 2;
    font-feature-settings: "smcp", "swsh" 2;
}


#background-radial-gradient {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    pointer-events: none;
    width: 200vw;
    height: 200vh;
    mix-blend-mode: color;
    background: radial-gradient(50% 50% at 50% 50%, #fc077d10 0%, rgba(255, 255, 255, 0) 100%);
    transform: translate(-50vw, -100vh);
    z-index: -1;
}

html {
    min-height: 100%;
}

@media (prefers-color-scheme: dark) {
    html {
        background-color: #212429;
    }
}
@media (prefers-color-scheme: light) {
    html {
        background-color: #F7F8FA;
    }
}

:root {
    /* These examples use the same color: sienna. */
    --ion-text-color:             #3ea2fa;
    --ion-text-color-rgb:         160, 82, 45;
  
    /* These examples use the same color: lightsteelblue. */
    --ion-background-color:       #b0c4de;
    --ion-background-color-rgb:   176, 196, 222;
  }

ion-content{
    
    --ion-background-color:rgb(6, 1, 27);
    --color:white;
  
}
//3ea2fa
ion-header {
    
    --ion-background-color:rgb(6, 1, 27);
    --background: #052a52;
    --color:white;
    --color-selected: #41d4fb;
    --ripple-color: white;
}

ion-button {
    color: #fff;
    background-color: #052a52;
    
    border: 1px solid #007bff !important;
}
.button-inner{
    color: #fff;
    background-color: #052a52;
    border-color: #007bff;
}
ion-label {
    color:#ffffff !important;
}
ion-icon {
    color:#00ff73 !important;
}

a{
    color: #00ff73;
}

