<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title size="large">SONIC TOKEN</ion-title>
    <ion-buttons slot="end">
      <ion-menu-button autoHide="false"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content center text-center [fullscreen]="true" [scrollEvents]="true" (ionScrollStart)="logScrollStart($event)" (ionScroll)="logScrolling($event)" (ionScrollEnd)="logScrollEnd($event)">
    <div class="vertical-center">
    <div class="center animazione">
      <ion-img src="./../../assets/sonic.png" class="ion-align-self-end"></ion-img>
    </div>  
    </div>
   
    <div id="containersu">
     
      <strong>Ready to use Sonic?</strong>
       <p>Start with Sonic <a target="_blank" rel="noopener noreferrer" href="http://164.68.126.35:3000/">BUY SON TOKENS</a></p>
  
    </div>
  <ion-button (click)="scrollToLabel(item.id)" *ngFor="let item of dummyList">
    {{item.title}}
  </ion-button>
  
  <ion-card *ngFor="let item of firstList">
    <ion-card-header>
      <ion-card-title center><h1 id='{{item.id}}'>{{item.title}}</h1></ion-card-title>
     
    </ion-card-header>
    <ion-card-content>
    <div class="vertical-center">
      <div class="center animazione">
        <ion-img src="{{item.img}}" class="ion-align-self-end"></ion-img>
      </div>  
      </div>
    
      {{item.text}}
      <ion-card-subtitle><ion-button>{{item.button1}}</ion-button></ion-card-subtitle>
       
        <ion-button fill="outline" >{{item.button2}}</ion-button>
        <ion-button fill="outline" >{{item.button3}}</ion-button>
        <ion-button fill="outline">{{item.button4}}</ion-button>
        <ion-button fill="outline" >{{item.button5}}</ion-button>
        <ion-button fill="outline" >{{item.button6}}</ion-button>
     
    </ion-card-content>
   
  </ion-card>

  <ion-card *ngFor="let item of secondList">
    <ion-card-header>
      <ion-card-title center><h1 id='{{item.id}}'>{{item.title}}</h1></ion-card-title>
      <ion-card-subtitle><ion-button>{{item.button1}}</ion-button></ion-card-subtitle>
    </ion-card-header>
  
    <ion-card-content>
      {{item.text1}}
      {{item.text2}}
      {{item.text3}}
      {{item.text4}}
      {{item.text5}}
      {{item.text6}}
    </ion-card-content>
    
  </ion-card>

  <ion-card *ngFor="let item of terzaList">
    <ion-card-header>
      <ion-card-title center><h1 id='{{item.id}}'>{{item.title}}</h1></ion-card-title>
     
    </ion-card-header>
  
    <ion-card-content>
      {{item.text}}
    </ion-card-content>
   </ion-card>

   <ion-card *ngFor="let item of quattroList">
    <ion-card-header>
      <ion-card-title center><h1 id='{{item.id}}'>{{item.title}}</h1></ion-card-title>
     
    </ion-card-header>
  
    <ion-card-content>
      {{item.text}}
    </ion-card-content>
   </ion-card>

   <ion-card *ngFor="let item of cinqueList">
    <ion-card-header>
      <ion-card-title center><h1 id='{{item.id}}'>{{item.title}}</h1></ion-card-title>
     </ion-card-header>
    
    <ion-card-content>
      <div class="vertical-center">
        <div class="center animazione">
          <ion-img src="{{item.img}}" class="ion-align-self-end"></ion-img>
        </div>  
        </div>
    </ion-card-content>
    
   </ion-card>

   <ion-card *ngFor="let item of contattiList">
    <ion-card-header>
      <ion-card-title center><h1 id='{{item.id}}'>{{item.title}}</h1></ion-card-title>
     
    </ion-card-header>
  
   </ion-card>
   
  

  
  <ion-button (click)="ScrollToPoint(-300, -120)"> Scroll To Point Right </ion-button>
  <ion-button (click)="ScrollToTop()"> Scroll To Top </ion-button>

 
</ion-content>


