<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      SONIC TOKEN
     </ion-title>
    <ion-buttons slot="end">
      <ion-menu-button autoHide="false"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">SONIC TOKEN</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <strong>Ready to use Sonic?</strong>
    <p>Start with Sonic <a target="_blank" rel="noopener noreferrer" href="http://164.68.126.35:3000/">BUY SON TOKENS</a></p>
  </div>
</ion-content>


